<tr>
  <th scope="row"><%= provider.npi %></th>
  <td><%= provider.first_name %></td>
  <td><%= provider.last_name %></td>
  <td><%= provider.enumeration_type %></td>
  <td><%= provider.taxonomy_code %></td>
  <td><%= provider.taxonomy_desc %></td>
  <td><%= provider.organization_name %></td>
  <td><%= provider.address %></td>
</tr>